
@model FlightUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Flight</h2>

<form asp-controller="Admin" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Flight.FlightNumber"></label>
        <input asp-for="Flight.FlightNumber" class="form-control" placeholder="Flight Number" />
        <span asp-validation-for="Flight.FlightNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="Flight.FromLocation"></label>
        <input asp-for="Flight.FromLocation" class="form-control" placeholder="From Location" />
        <span asp-validation-for="Flight.FromLocation"></span>
    </div>

    <div class="form-group">
        <label asp-for="Flight.ToLocation"></label>
        <input asp-for="Flight.ToLocation" class="form-control" placeholder="To Location" />
        <span asp-validation-for="Flight.ToLocation"></span>
    </div>

    @*<div class="form-group">
            <label asp-for="Flight.AirportId"></label>
            <select asp-for="Flight.AirportId" class="form-control"
                    asp-items="@(new SelectList(Model.Airports,"AirportId","AirportCity"))"></select>
            <span asp-validation-for="Flight.AirportId"></span>
        </div>

        <div class="form-group">
            <label asp-for="Flight.AirportId"></label>
            <select asp-for="Flight.AirportId" class="form-control"
                    asp-items="@(new SelectList(Model.Airports,"AirportId","AirportCity"))"></select>
            <span asp-validation-for="Flight.AirportId"></span>
        </div>*@

    <div class="form-group">
        <label asp-for="Flight.DepartureDate"></label>
        <input asp-for="Flight.DepartureDate" class="form-control" placeholder="Departure Date" />
        <span asp-validation-for="Flight.DepartureDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="Flight.ArrivalDate"></label>
        <input asp-for="Flight.ArrivalDate" class="form-control" placeholder="Arrival Date" />
        <span asp-validation-for="Flight.ArrivalDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="Flight.Price"></label>
        <input asp-for="Flight.Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="Flight.Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="Flight.Currency"></label>
        <input asp-for="Flight.Currency" class="form-control" placeholder="Currency" />
        <span asp-validation-for="Flight.Currency"></span>
    </div>
    <input type="hidden" asp-for="Flight.FlightId" />
    <input type="submit" value="Update" class="btn btn-sm btn-success" />
</form>

